.card-img {
    position: relative;
    top: -20px;
    left: 10px;
}

.shadow-lg {
    margin-bottom: 2rem;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 10px;
  }


  