<div class="container card mt-5 shadow-lg p-3 mb-5 bg-white rounded">
  <form #searchForm="ngForm" (ngSubmit)="searchForm.form.valid && onSubmit(searchForm)">
    <h1 class="display-5 text-center mb-5 text-info">Book Finder</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control" #bookName="ngModel" ngModel name="bookName" required placeholder="Search For Books...">
        </div>

        <!-- Validation -->
        <div *ngIf="bookName.touched && !bookName.valid" class="alert alert-danger">
          <div *ngIf="bookName.errors.required"> Book Name is required </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button class="btn btn-outline-info btn-block" [disabled]="searchForm.invalid">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="loading-message" *ngIf="Loading">
    <h1 class="text-center">Loading</h1>
  </div>
</div>

<div class="container box">
  <app-book [searchResults]="searchedBookArray"></app-book>
</div>

