.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 25rem;
    }
}


@media only screen and (max-width: 320px) {

    i {
        font-size: 10rem;
    }
}

@media only screen and (max-width: 576px) {

    i {
        font-size: 10rem;
    }
}