<div class="container card mt-5 shadow-lg p-3 mb-5 bg-white rounded">
  <form #searchForm="ngForm">
    <h1 class="display-5 text-center mb-5 text-success">Book Finder</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [formControl]="bookSearched"
            placeholder="Search For Books..."
          />
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container box">
  <app-book [searchResults]="searchedBookArray"></app-book>
</div>

<div class="container">
  <p class="lead">{{ searchedBookArray ? "" : information }}</p>
</div>
