<div class="container card mt-5 shadow-lg p-3 mb-5 bg-white rounded">
  <form #searchForm="ngForm">
    <h1 class="display-5 text-center mb-5 text-success">Book Finder</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control" #bookName="ngModel" ngModel name="bookName" required placeholder="Search For Books...">
        </div>

        <!-- Validation -->
        <div *ngIf="bookName.touched && !bookName.valid" class="alert alert-danger">
          <div *ngIf="bookName.errors.required"> Book Name is required </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button class="btn btn-outline-success btn-block" [disabled]="searchForm.invalid" (click)="searchBook(searchForm)">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class=" container loading-message" *ngIf="loading">
  <i class="fas fa-stroopwafel fa-spin text-success"></i>
</div>

<div class="container box">
  <app-book [searchResults]="searchedBookArray"></app-book>
</div>

<div class="container">
  <p class="lead">{{information}}</p>
</div>

<!-- <div class="container" *ngIf="searchedBookArray.length === 0">
  <p class="lead">Start searching for books</p>
</div> -->
